@using Microsoft.CodeAnalysis
@model IEnumerable<Projekt_StudieTips.Models.Course>

<link rel="stylesheet" href="~/css/course.css" />

@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div id="styletext"><p>Vælg det fag du ønsker at se tips for</p></div>
<br />
<br />

@if (User.HasClaim(c => c.Type == "Admin"))
{
<div id="CenterEverything">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
</div>
}


<div id="CenterEverything">
    <select name="Course" id="Courses">
        @foreach (var item in Model)
        {
            <option value="@Html.DisplayFor(modelItem => item.CourseId)">@Html.DisplayFor(modelItem => item.CourseName)</option>
        }
        </select>
    <br />
    <br />
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><input class="gotobtn" type="submit" value="Gå til"></a>
    </div>


@if (User.HasClaim(c => c.Type == "Admin"))
{
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(d => d.CourseName))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

