@using Microsoft.CodeAnalysis
@model IEnumerable<Projekt_StudieTips.Models.Course>

<link rel="stylesheet" href="~/css/site.css"/>
<link rel="stylesheet" href="~/css/course.css"/>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div id="styletext"><p>Vælg det kursus du ønsker at se tips for</p></div>
<br />
<br />

@if (User.HasClaim(c => c.Type == "Admin"))
{
    <div id="CenterEverything">
        <p>
            <a asp-action="Create" asp-route-DegreeId="@ViewBag.DegreeId">Opret nyt kursus</a>
        </p>
    </div>
}



@if (User.HasClaim(c => c.Type == "Moderator"))
{
    <div id="CenterEverything">
        <p>
            <a asp-action="Create" asp-route-DegreeId="@ViewBag.DegreeId">Create New</a>
        </p>
    </div>
}



@using (Html.BeginForm("Redirect", "Courses", FormMethod.Post))
{
<div id="CenterEverything">
    <select name="CourseId">
        @foreach (var item in Model.OrderBy(d => d.CourseName))
        {
            <option value="@item.CourseId">@item.CourseName</option>
        }
    </select>
    <br />
    <br />

    <input class="gotobtn" type="submit" name="submit" value="Gå til">

    @if (User.HasClaim(c => c.Type == "Admin"))
    {
        <input class="gotobtn" type="submit" name="submit" value="Rediger">
        <input class="gotobtn" type="submit" name="submit" value="Slet">
    }
<<<<<<< HEAD

    @if (User.HasClaim(c => c.Type == "Moderator"))
    {
        <input class="gotobtn" type="submit" name="submit" value="Edit">
        <input class="gotobtn" type="submit" name="submit" value="Delete">
    }


    <br />
    <br />
    <p><a asp-controller="Degrees" asp-route-id="@ViewBag.DegreeId" asp-action="Index">Tilbage</a></p>
=======
    <br/>
    <br/>
    <p><a asp-controller="Degrees" asp-route-id="@ViewBag.DegreeId" asp-action="Index">Tilbage til uddannelser</a></p>
>>>>>>> origin/main
</div>
}
